* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Merriweather", "Libre Franklin", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #191919;
}

.navbar,
footer {
    background-color: #c8c8c8;
    height: 5vh;
}

header {
    background-color: #fbf9f9;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 13px;
    padding: 0.5rem 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

/* socmed image links styling 
on navbar and footer */

.socmed-links {
    display: flex;
    align-items: center;
}

.socmed-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

img.socmed-links {
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    padding: 0 0.5rem;
}

/* profile section styling */

header {
    height: auto;
    min-height: 70vh;
}

header > * {
    padding: 30px 50px 20px;
}

header h1 {
    text-align: center;
    font-size: 2rem;
}

header h4 {
    text-align: center;
    padding: 20px;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1% 25%;
}

.bio-container { /* main container of photo and text description */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}

.column {
    flex: 1;
}

.bio {
    font-family: "Roboto", "Merriweather", "Libre Franklin", sans-serif;
    font-size: 1rem;
    max-width: 650px;
    text-align: left;
    padding-bottom: 10px;
    line-height: 1.8;
}

/* Select Works section */

main {
    padding: 40px 0;
}

.works-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px 30px;
}

.section {
    margin-bottom: 60px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 40px 0;
}

/* .portfolio-grid-large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 40px 0;
} */

.portfolio-item {
    display: flex;
    flex-direction: column;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    background: #1a1a1a;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-bottom: 0;
    display: block; 
}

/* .portfolio-grid-large .portfolio-item img {
    aspect-ratio: 16/9;
} */

.portfolio-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.85em;
}

.portfolio-title {
    color: #191919;
    font-size: 1rem;
    font-weight: 600;
}

.portfolio-desc {
    color: #18181880;
    margin-bottom: 5px;
}

.portfolio-item a {
    display: block;
    position: relative;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}

.portfolio-item a:hover {
    transform: scale(1.05);
}

.portfolio-item a:hover::before {
    opacity: 1;
}

.portfolio-video { /* use this for video embeds */
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}

@media (max-width: 880px) { 
    header {
        height: 100%;
    }

    header h4 {
        padding: 1% 20%;
        font-size: 0.9em;
        padding: 0;
    }

    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 40px 0;
    }

    .bio-container {
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    
    .column {
        width: 100%;
        flex: none;
        margin: 0 0 30px 0;
    }
}
